/* Setzt den Browser-Standardabstand zurück */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Verhindert Scrollbalken */
    
    /* Reines Schwarz für maximalen Kontrast */
    background-color: #000; 
}

/* Stellt sicher, dass die Leinwand den gesamten Bildschirm einnimmt */
#matrix-canvas {
    display: block;
    width: 100vw;  /* 100% der Ansichtsfenster-Breite */
    height: 100vh; /* 100% der Ansichtsfenster-Höhe */
}
